.avatar {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	transition: transform $baseTransitionDuration,
							box-shadow $baseTransitionDuration;
	&:hover {
		box-shadow: $shadowHover;
		transform: scale(1.1);
	}

	&__img {
		height: 100%;
		width: 100%;
		transition: filter $baseTransitionDuration;
		border-radius: 50%;
		:hover > & 	{
			filter: blur(2px) invert(75%);
		}
	}

	&__titleWrapper {
		@include displayFlex();
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 50%;
		color: #111;
		background-color: #fff;
		transition: opacity $baseTransitionDuration;
		:hover > & {
			opacity: .6;
		}
	}

	&__title {
		opacity: 0;
		transform: translateY(100%);
		transition: transform $baseTransitionDuration $baseTransitionDurationDelay33,
								opacity $baseTransitionDuration $baseTransitionDurationDelay33;
		:hover > & {
			opacity: 1;
			transform: translateX(0%);
		}
	}
}
