$baseColorBackground: #222;
$baseColorText: #ddd;

$baseFontSize: 1em;
$baseLineHeight: 1.4;
$baseTransitionDuration: .3s;
$baseTransitionDurationDelay33: $baseTransitionDuration / 1.66;

$colorPrimary: #b00b55;
$colorShadow: #ddd;
$colorFooter: #000;

$shadow: 0 0 10px rgba($colorShadow, .5);
$shadowHover: 0 0 20px rgba($colorShadow, .5);
$glow: 0 0 30px 15px rgba($colorShadow, .1);
