.footer {
	background-color: $colorFooter;
	text-align: center;
	padding: 50px 15px;
	@media (min-width: $lg) {
		display: flex;
		justify-content: space-around;
	}

	&__title {
		margin-bottom: 0;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__link {
		display: block;
		color: $baseColorText;
		margin: .2em 0;
		padding: .5em;
		text-decoration: none;
		transition: color $baseTransitionDuration;
		&:hover {
			color: darken($baseColorText, 50%)
		}
	}
}



