.sectionParallax {
	padding: 150px 15px;
	background-image: linear-gradient(to top, hsl(180, 63%, 20%) 0%, hsl(267, 86%, 5%) 70%);
	text-align: center;
	position: relative;
	overflow: hidden;

	&__bg {
		background: url('/img/sectionParallaxBg.jpg') center/cover no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 140%;
		z-index: 1;
		opacity: .25;
	}

	&__content {
		width: 90%;
		margin: 0 auto;
		max-width: 1140px;
		position: relative;
		z-index: 2;
	}
}
