.sectionUsers {
	text-align: center;
	padding: 100px 15px;
	@media (min-width: $lg) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 200px;
		padding-bottom: 200px;
	}

	&__userSlot {
		margin-bottom: 100px;
		@media (min-width: $lg) {
			flex: 0 1 470px;
			padding: 50px;
			margin-bottom: 0;
		}
	}
}
